{{ define "curtidas" }}
<i class="fa-solid fa-heart curtir-publicacao" style="cursor: pointer;"></i>
  <span>{{ .Curtidas }} </span>
{{ end }}

{{ define "deletar" }}
    <i class="fa-solid fa-trash-can text-danger deletar-publicacao" style="cursor: pointer;"></i>
{{ end }}

{{ define "editar" }}
  <a href="/publicacoes/{{ .ID }}/atualizar" style="text-decoration: none;">
    <i class="fa-solid fa-pen-to-square"></i>
  </a>
{{ end }}

{{ define "cabecalho-publicacao" }}
  <h1 class="display-4">{{ .Titulo }}</h1>
  <p class="lead">{{ .Conteudo }}</p>
  <a href="/usuario/{{ .AutorID }}">{{ .AutorNick }} - {{ .CriadaEm.Format "02/01/2006" }}</a>
  <hr class="my-4">
{{ end }}

{{ define "publicacao-com-permissao" }}
  <div class="jumbotron-style my-5" data-publicacao-id="{{ .ID }}">
    <div class="p-4 mb-4 bg-light rounded-3 w-75 mx-auto">
      <div class="container-fluid py-4">
        {{ template "cabecalho-publicacao" . }}
        <p>
          {{ template "curtidas" . }}
          {{ template "editar" . }}
          {{ template "deletar" . }}
        </p>
      </div>
    </div>
  </div>
{{ end }}

{{ define "publicacao-sem-permissao" }}
<div class="jumbotron-style my-5" data-publicacao-id="{{ .ID }}">
  <div class="p-4 mb-4 bg-light rounded-3 w-75 mx-auto">
    <div class="container-fluid py-4">
      {{template "cabecalho-publicacao" .}}
      <p>{{ template "curtidas" . }}</p>
    </div>
  </div>
</div>
{{ end }}